<div class="container">
  <div>
    <h2>User Details</h2>
    <p><label>Firstname:</label> {{user.firstname}} </p>
    <p><label>Surname:</label> {{user.surname}} </p>
    <p><label>Email:</label> {{user.email}} </p>
    <p><label>City:</label> {{user.city}} </p>
    <p><label>Country:</label> {{user.country}} </p>
    <p><label>Address:</label> {{user.address}} </p>
    <p><label>Postcode:</label> {{user.postcode}} </p>
    <p><label>Telephone:</label> {{user.telephone}} </p>
  </div>
</div>
